/* You can add global styles to this file, and also import other style files */
* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anchorbutton{
    margin-top: 30px;
    padding: 5rem;
    width: 6rem;
    padding: 10px;
    background-color: #0c719c;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}